doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title InfoMarker
        link(rel="stylesheet" href="style.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    body 
        .wrapper
            include ../blocks/header.pug
            section.file-body
                .container.file-body__container
                    .file-body__left
                        .file-body__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue erat sed libero egestas, vitae congue lectus efficitur. Pellentesque pellentesque, elit tincidunt vehicula fringilla, risus libero posuere nulla, ac consequat nisl est semper odio. Aenean tempus auctor mauris nec dictum. Maecenas justo ex, vulputate sit amet placerat eget, pellentesque vitae justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla vel molestie justo. Suspendisse et enim hendrerit elit laoreet tincidunt. Curabitur et venenatis ante.

                            | Proin auctor eros vel leo posuere pulvinar varius tincidunt odio. Cras ac est lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum finibus, urna ac lobortis tempus, dui ligula rhoncus sem, eu lobortis est neque eget massa. Praesent eu ligula vel felis pulvinar vulputate nec at lorem. Quisque rutrum mattis nunc. Nulla vestibulum quam nec velit pharetra gravida. Duis dapibus lacus in est tempor, sit amet dictum orci ultricies. Mauris pellentesque id nisl non pellentesque.
                            | Nulla iaculis risus vel metus vulputate malesuada. Phasellus nec tempor magna. In hac habitasse platea dictumst. Mauris ut varius mi. Curabitur a turpis id tellus rhoncus dignissim in ut orci. Aliquam erat volutpat. Ut in porta leo. Vivamus facilisis tempus est ut ullamcorper. Aenean vitae quam quis mi aliquet hendrerit. Integer id nisl sollicitudin, volutpat erat id, vulputate magna. Morbi ligula leo, cursus nec rutrum non, finibus vel est. Cras semper, nibh sit amet feugiat pulvinar, nisi metus rutrum quam, eget tempus mi quam eget diam. Suspendisse sed egestas odio, et convallis lacus. Quisque justo orci, placerat non vulputate ut, tincidunt ac lorem.
                            | Integer semper, nisi et lacinia bibendum, ipsum libero facilisis nisi, vel bibendum enim ligula non odio. Nulla eleifend accumsan lacus quis tristique. Donec sed viverra sapien, id pulvinar dolor. Maecenas a lectus vulputate, condimentum enim et, tempor quam. Ut a dapibus est, cursus mattis nibh. Quisque lacinia tortor at odio scelerisque posuere. Curabitur commodo urna nibh, nec dictum nisl fermentum vel. Cras convallis tincidunt diam non placerat. Donec justo arcu, suscipit a purus eu, sodales feugiat elit. Nunc vel elit et eros finibus laoreet eu ullamcorper urna. Vivamus finibus laoreet libero id pretium. Curabitur varius orci sit amet erat convallis molestie. Vestibulum ac malesuada mi. Fusce venenatis mi non nulla ornare efficitur. Praesent et mattis ligula.
                            | 
                            | Nunc vel lectus risus. Curabitur sit amet diam tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et tortor vitae odio suscipit vulputate. Proin nec ex pellentesque, condimentum magna in, tincidunt dolor. Integer at odio blandit, fermentum sapien ut, egestas urna. Quisque dictum non diam a dignissim. Mauris accumsan viverra velit, eu volutpat mi condimentum feugiat. Nam porttitor in risus vitae lobortis. Nullam in laoreet turpis, at scelerisque leo. Maecenas rutrum tortor ut justo suscipit, sit amet malesuada nisi ultricies.
                            | Aenean dignissim erat quis leo pulvinar convallis. In dapibus non turpis id iaculis. Quisque ornare elit eu dictum pretium. Nullam pretium ligula orci, a varius sem ornare porta. Nullam rutrum libero ornare magna auctor, sed varius arcu bibendum. Etiam in arcu ut sem commodo varius ut ac nibh. Morbi quis dapibus est, non tincidunt odio. Proin eu sodales sem. Integer ac consectetur purus, nec pharetra nisi.
                            | 
                            | Vestibulum finibus eget arcu vel iaculis. Suspendisse eu tortor vitae augue eleifend volutpat in id diam. In imperdiet sem non euismod lacinia. Aenean id sagittis massa, in convallis velit. Sed viverra metus orci. Sed porttitor metus non convallis dignissim. Morbi porta tristique nulla, vitae rhoncus neque congue in. Suspendisse mi massa, semper eu semper id, imperdiet ac diam. Quisque nec massa eget elit interdum tincidunt. Nunc sed sollicitudin nisi, at scelerisque sem. Morbi hendrerit interdum gravida. Nam ut ultricies est, eu volutpat augue. Sed eget eros id nunc pretium varius. Aliquam erat volutpat.
                            | 
                            | Ut eget magna ullamcorper, finibus tortor placerat, fermentum erat. Sed mi odio, pharetra sed luctus quis, fermentum et est. Aenean eget metus ultrices, iaculis diam fermentum, laoreet leo. Mauris egestas iaculis fringilla. Maecenas luctus purus nisl, nec interdum nunc vulputate sit amet. Sed justo nulla, vehicula ac commodo eu, facilisis in ligula. Nulla imperdiet gravida facilisis. Curabitur ultricies est a felis varius, a pellentesque diam dapibus. Aliquam erat volutpat. Vestibulum tincidunt sodales turpis vel sagittis. Nam dictum, ex eu eleifend tincidunt, leo elit imperdiet neque, ac pellentesque eros justo a sem. Etiam tristique metus risus, sed viverra turpis tempus eu. Nunc mi turpis, malesuada eu turpis ultrices, congue tincidunt quam. Nullam et pulvinar turpis. Duis euismod porta imperdiet.
                            | 
                            | Sed id justo porttitor, pharetra sapien eu, vehicula augue. Praesent ut felis neque. Nullam ullamcorper a magna id feugiat. Vivamus mauris lorem, tempus feugiat aliquet sit amet, gravida vel ex. Mauris ultricies, felis ut molestie consequat, tortor libero auctor urna, et feugiat nunc nisl nec orci. Mauris lacinia quam nisi, vitae dignissim ipsum imperdiet at. Pellentesque malesuada efficitur imperdiet.
                            | 
                            | Donec rutrum risus nec tempor lacinia. Donec ullamcorper pulvinar consequat. Pellentesque luctus sodales gravida. Ut orci felis, ullamcorper nec lobortis eget, tempor at eros. Vivamus eleifend vel nunc in blandit. Curabitur in lacus magna. Nulla facilisi. Fusce dictum dignissim feugiat. Pellentesque vitae vehicula ipsum. Mauris nulla risus, consequat ac arcu et, tempor mattis lacus. Mauris maximus vulputate eleifend. Vestibulum pharetra nibh ut odio euismod, eget porta elit congue. Vivamus sed augue ante.
                    .file-body__right
                        .note.file-body__note
                            img(src="img/icons/info-icon.svg").note__icon
                            .note__text 
                                p В тексте обнаружено <b>17</b> упоминаний <b>4</b> иноагентов или нежелательных организаций.  
                                p Места в тексте с выявленными совпадениями
                                    | отмечены цветом. Мы не храним ваши загруженные
                                    | документы и сформированные отчеты, но вы можете скачать отчет о сверке этого текста в формате pdf.  
                                a(href="#").btn-1 Скачать отчет
                        .report
                            h3 Обнаруженные упоминания
                            .report-table
                                .report-table__row.report-table__header
                                    div иноагенты и организации
                                    div количество
                                .report-table__row(style="background: #FFC4C4")
                                    div Иванов Иван Иванович
                                    div 6
                                .report-table__row(style="background: #FCFF56")
                                    div Фонд развития книжнои культуры «Иркутский СОЮЗ БОИОЛИОФИЛОВ»
                                    div 8
                                .report-table__row(style="background: #A9E0FF")
                                    div Бортник Егор михаилович
                                    div 5
                                .report-table__row(style="background: #FFCC69")
                                    div Free Buryatia Foundation (Фонд «Свободная бурятия»). США
                                    div 5
                                .report-table__row(style="background: #FDA7FF")
                                    div Фонд Борьбы с Коррупцией (ФБК)
                                    div 12
                                .report-table__row(style="background: #ABFFA3")
                                    div Штеванов Александр Андреевич
                                    div 2 
                            
                            


        include ../blocks/footer.pug
